body {
    background-color: green;
}

.section1 .header1 {
    background-color: blueviolet;
}

.section1 .header2 {
    background-color: red;
}

.section1 .header3 {
    background-color: yellowgreen;
}

.section2 > .header1 {
    background-color: aqua;
}

.section2 div .header1 {
    background-color: brown;
}

.section2 div a[href="hello"] {
    color: white
}
.section2 .header2 {
    background-color: aquamarine;
}

.section2 .header3 {
    background-color: black;
}