/* ul li:first-child {
    background-color: green;
}

ul li:last-child {
    background-color: red;
} */

/* ul li:nth-child(odd) {
    background-color: green;
}

ul li:nth-child(even) {
    background-color: red;
} */

ul li:nth-child(3) {
    background-color: green;
}

ul li:nth-child(2) {
    background-color: red;
}

ul li:nth-child(3):hover {
    background-color: lightgreen;
}

ul li:nth-child(2):hover {
    background-color: lightcoral;
}

